#root {
    margin: 0 10px ;
}


body {
    background: #282c34;
    color: white;
}

.card {
    width: 400px;
}

.card * {
    margin: 0;
}

.AppLogo {
    width: 50px;
    height: 50px;
}

.AppHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    padding: 10px 20px;

}


.cardButton {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 32px;
}

.textAreaBox {
    width: 350px;
    height: 140px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(25% - 20px);
    min-width: 300px;
}
.spinBox {
    height: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 20px);
    min-width: 300px;
}

@media (max-width: 1600px) {
    .card {
        width: calc(33.33% - 20px);
    }
    .spinBox{
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 1200px) {
    .card {
        width: calc(50% - 20px);
    }
    .spinBox{
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
    }
    .spinBox{
        width: calc(100% - 20px);
    }
}



.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.badge {
    background-color: cornflowerblue;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 40px;
    margin-left: 10px;
}



.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #3a3f47;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 35px;
}


.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #61dafb;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;

}

.navbar a:hover {
    background-color: #505763;
}

.navbar a.active {
    background-color: #61dafb;
    color: #282c34;
    font-weight: bold;
}

#detail {
    padding: 0 20px;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar li {
        margin: 10px 0;
    }
}

.leftBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.centerBlock {
    text-align: center;
    flex: 1;
}

.toggleHiddenButton {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.rightBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actionButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
color: black;
    cursor: pointer;
}

.addButton {
    background-color: green;
    color: white;
}

.addButton.hidden {
    visibility: hidden;
}

.toggleButton {
    background-color: orange;
    color: white;
}

.deleteButton {
    background-color: red;
    color: white;
}

.checkboxView {
    display: flex;
    align-items: center;
    gap: 5px;
}